<div class="form-container">

  <h1>Administrator Portal</h1>

  <h2>Start a New Project!</h2>
  <form action="/administrator" method="post">
      <label for="title">Add Project:</label>
      <input type="text" name="title" class="form-control">
      <br>
      <button type="submit" name="button" class="btn btn-info">Submit</button>
    </form>
    <h2>Current Projects</h2>
    <div class="current-projects">
    </div>
    <% @project_list.each do |project| %>
      <h3><%= project.title %>
      <h5>Project ID: <%= project.id %></h5>
    <% end %>
    <a href='/' class='btn btn-primary'>Back</a>
</div>
