
<div class="home">
<img src="../img/wdfm.png" id="main-logo">
  <div class="buttons">
    <a type="submit" class="btn btn-info" href="/administrator">Enter Administrator Portal</a>
    <a type="submit" class="btn btn-info" href="/volunteers">Current Volunteers</a>
</div>
