
  <div class="home">
    <h1>Volunteer Scheduling Portal</h1>
    <img src="../img/wdfm.png" id="main-logo">
    <div class="buttons">
      <a type="submit" class="btn btn-info" href="/administrator">Enter Administrator Portal</a>
      <br><br>
      <a type="submit" class="btn btn-info" href="/volunteers">Current Volunteers</a>
    </div>
  </div>
