<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href="<%= url("/css/styles.css")%>">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script type='text/javascript' src='../js/scripts.js'></script>
    <meta charset="utf-8">
    <title>Volunteer Site</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
