<div class="volunteers">
  <h2>Volunteers Portal</h2>
  <form action="/volunteers" method="post">
      <label for="name">Add Volunteer:</label>
      <input type="text" name="name" class="form-control">
      <label for="project_id">Project ID:</label>
      <input type="text" name="project_id" class="form-control">
      <br>
      <button type="submit" name="button" class="btn btn-info">Submit</button>
    </form>
    <h2>Current Projects</h2>
    <% @project_list.each do |project| %>
      <h3><a href="/administrator/<%= project.id %>"><%= project.title %></a></h3>
      <h5>Project ID: <%= project.id %><br>
      Project Volunteers: <%= project.volunteers %></h5>
      <% end %>
      <a href='/' class='btn btn-primary'>Back</a>
    </div>
