h1{
  text-align: center;
  color: rgb(60, 72, 91);
  font-family: 'Raleway', sans-serif;

}
#main-logo {
  width: 25%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.home {
  background-image: url("../img/fantasia2.png"); display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 800px;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
  display: none;
}
.buttons{
  text-align: center;
  position: fixed;
  top: 20%;
  right:23%;
}

.btn.btn-info {
  width: 200px;
  background-color:  rgb(60, 72, 91);
  border: 2px white solid;
}

.form-container {
  width:500px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(60, 72, 91);
  color: white;
  font-family: 'Raleway';
}

.admin {
  color: white;
}

.btn.btn-primary {
  background-color: rgb(60, 72, 91);
  border: 2px white solid;
  margin-top: 10px;
}

.current-projects {
  border: 2px white solid;
  padding: 5px;
  border-radius: 5%;
}
.project, h3 {
  color: white;
  text-align: center;
}

a {
  color: white;
}
.volunteers {
  width: 500px;
  text-align;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#editanddelete{
  margin: 0 auto;
  display: block;
  width: 15%;
}

#updatebutton {
  margin: 0 auto;
  display: block;
}

.form-control {
  width: 500px;
  display: block;
  margin: 0 auto;
}
h2 {
  text-align: center;
}

select {
  color: black;
}
